@page
@model SportsTournamentWebApp.Pages.LogInModel
@{
}

<link rel="stylesheet" href="~/css/logIn.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
    <div class="form">
        <p>Log In</p>

        <form method="post">


            <label> Email:</label>
            <span asp-validation-for="LogInUser.Email"></span>
            <input asp-for="LogInUser.Email" id="name">

            <label> Password:</label>
            <span asp-validation-for="LogInUser.Password"></span>
            <input type="password" asp-for="LogInUser.Password" id="name">

            <input name="button" value="LogIn" class="btnLogIn" type="submit">
            <span>@ViewData["message"]</span>

            <hr>


            <button name="button" value="Register" asp-action="check" class="btnRegister">Create an account</button>


        </form>
    </div>

</body>
