@page
@model SportsTournamentWebApp.Pages.TournamentRegistrationModel
@{
    <div class="form">
        <p>Register for a tournament</p>

        <form method="post">
            <p class="user">First name:</p>
            <input type="text" asp-for="NewUser.FName" class="name" name="name" />
            <span class="validation-message text-danger" asp-validation-for="NewUser.FName"></span>

            <p class="user">Last name:</p>
            <input type="text" asp-for="NewUser.LName" class="name" name="name" />
            <span class="validation-message text-danger" asp-validation-for="NewUser.LName"></span>

            <p class="pass">Email:</p>
            <input type="text" asp-for="NewUser.Email" class="email" name="email" />
            <span class="validation-message text-danger" asp-validation-for="NewUser.Email"></span>

            <p class="pass">Phone number:</p>
            <input type="text" asp-for="NewUser.PhoneNumber" class="phone" name="phone" />
            <span class="validation-message text-danger" asp-validation-for="NewUser.PhoneNumber"></span>

            <p class="pass">Password:</p>
            <input type="password" asp-for="NewUser.Password" class="password" name="password" />
            <span class="validation-message text-danger" asp-validation-for="NewUser.Password"></span>


            @* <input name="button" value="Create an account" class="createAccount" type="submit"> *@
            <button name="button" value="regster" type="submit">Create an account</button>

            <hr>

            <p class="pass">Email:</p>
            <input type="text" asp-for="User.Email" class="email" name="email" />
            <span class="validation-message text-danger" asp-validation-for="User.Email"></span>

            <p class="pass">Password:</p>
            <input type="password" asp-for="User.Password" class="password" name="password"/>
            <span class="validation-message text-danger" asp-validation-for="User.Password"></span>

            <button name="button" value="login" type="submit">Log In</button>

        </form>
    </div>
}
